$table_spaces: 4px;

.Task {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;
    gap: $table_spaces;
    padding: $table_spaces $table_spaces 0 $table_spaces;
    div {
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 2px;
        padding: 3px 10px;
    }
}

.DeleteTask {
    color: red;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}