
.Task {
    display: grid;
    grid-template-columns: 30px 1fr 70px;
    gap: 4px;
    div {
        display: grid;
        justify-content: center;
        margin: 2px 0;
        padding: 3px 0;
        background-color: #fff;
        border-radius: 2px;
    }
}

.DeleteTask {
    color: red;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}